body{
    background-color: aquamarine;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Box{
    float: left;
    width: 400px;
    height: 580px;
    border: 5px solid black;
    margin: 6px;
    padding: 5px;


}

.Img{
    
    height: 100px;
    display: block;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

h2{
    color: red;
    font-size: 28px;
    text-align: center;
    font-family: Roboto Slab;
    
    
}

p{
    font-size: 20px;
    font-family: cursive;
}

h4{
    background-color: azure;
    font-size: 20px;
}
h4:hover{
    color: blue;
    font-size: 25px;
    background-color: antiquewhite;
}